name: Close Stale Issues
on:
  schedule:
    - cron: '0 2 * * *'  # Runs daily at 2 AM UTC

jobs:
  stale:
    runs-on: self-hosted
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          days-before-stale: 14
          days-before-close: 7
          stale-issue-message: 'This issue has been inactive for 30 days and will be closed in 7 days if there is no further activity.'
          stale-pr-message: 'This PR has been inactive for 30 days and will be closed in 7 days if there is no further activity.'
          close-issue-message: 'Closed due to inactivity.'
          close-pr-message: 'Closed due to inactivity.'
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
          exempt-issue-labels: 'bug,enhancement,help-wanted'
          exempt-pr-labels: 'work-in-progress'
